*{
    box-sizing: border-box;
}
body{
    --background-color:white;
    --text-color:black;
    --elements-color:white;
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
   --background-color: hsl(207, 26%, 17%);
   --text-color:white;
   --elements-color:hsl(209, 23%, 22%);
}
main{
    padding: 24px;
}
.header-container{
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding-inline: 24px;
    background-color: var(--elements-color);

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;

   
    
}
.title{
    font-weight: 800;
}
.themeChange{
    cursor: pointer;
}
.search-filter-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.search-container{
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
    padding-left: 24px;
    overflow: hidden;
    color: #999;
    background-color: var(--background-color);
    color: var(--text-color);
}
.dark .search-container{
    box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
    padding-left: 24px;
    overflow: hidden;
    color: #999;
    background-color: var(--background-color);
    color: var(--text-color);
}
.search-container input{
    border: none;
    outline: none;
    padding: 16px;
    width: 80%;
    background-color: inherit;
    color: inherit;
    
}
.search-container input::placeholder{
    color: #999;
}
.search-container i{
    padding: 5px;
}
.filter-container{
    width: 200px;
    padding: 0 8px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--background-color);
    color: var(--text-color);
    
}
.dark .filter-container{
    width: 200px;
    padding: 0 8px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.7);
    background-color: var(--background-color);
    color: var(--text-color);
    
}
.countries-container{
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    margin-inline: auto;
    justify-content: space-between;
    
}
a{
    text-decoration-line: none;
    color: inherit;
}
.country-card{
    width: 250px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
}
.country-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
}
.country-card img {
    width: 100%;
}
.country-info{
    margin-inline: 16px;

}
.country-name{
    font-size: 24px;
    margin-block: 8px;
}

/* scroll to top  */
#scrollTab {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #scrollTab::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #scrollTab:hover {
    cursor: pointer;
    background-color: #333;
  }
  #scrollTab:active {
    background-color: #555;
  }
  #scrollTab.show {
    opacity: 1;
    visibility: visible;
  }
  
  @media (min-width: 500px) {
    #scrollTab {
      margin: 30px;
    }
  }
  
@media (max-width:768px)  {
    .countries-container{
        justify-content: center;
    }
    .title{
        font-size: 16px;
    }
    .header p{
        font-size: 12px;
    }
    .search-filter-container{
        flex-direction: column;
    }
    .filter-container{
        padding: 16px;
        
    }
}